@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');
h1,
p {
  /*font-family: Lato;*/
    font-family: 'Mali', cursive;
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

thead tr th {
  font-weight: 500;
  text-align: left;
/* background-color: #fafafa;*/
  background-color: #8CC152;
    color: #FFFFFF;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

// th,
// td {
//   padding: 8px;
//   overflow-wrap: break-word;
// }

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
