.photo {
    height: 300;
    width: 300; 
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 36px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.hawk-file-upload .hawk-button {
    width: 100px;
    border-color: #6997DB;
    background-color: #6997DB;
    color: white;
    border-radius: 4px;
}

.hawk-button {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.05px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

