.photo {
    height: 300;
    width: 300; 
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 36px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.hawk-file-upload .hawk-button {
    width: 100px;
    border-color: #6997DB;
    background-color: #6997DB;
    color: white;
    border-radius: 4px;
}

.hawk-button {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 0.05px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.bg-img {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../Login/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.check-red {
    border-color: red !important;
    border-width: 2px;
}

.check-green {
    border-color: green !important;
    border-width: 2px;
}

.check-username {
    color: red;
    font-size: 14px;
    margin-top: -0.5rem;
    }
    
.check-passworld {
    color: red;
    font-size: 14px;
    margin-top: 1 rem;
    margin-bottom: 0rem;
}

.check-passworld-lenght {
    color: red;
    font-size: 14px;

    margin-top: -0.5rem;
}
.set-button {
    margin-bottom: 20px;
    float: right;
}