.ima-size {
    max-width: 100%;
    height: 50;
}


.font-size {
    display: block;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: red;
}

.font-size-success {
    display: block;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: green;
}
.font-size2 {
    font-size: 20px;
    color: black;
}
.font-size-data {
    font-size: 16px;
    color: rgb(96 93 93);
}