
.App {
    width: auto;
    height: 400px;
    margin: 2rem auto;
    background-image: url("../ima_weather/app.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.App:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.App.hot {
    background-image: linear-gradient(to bottom,
            rgba(255, 167, 16, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/hot.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}


.App.cold {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/cold.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.clouds {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.rain {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.clear-sky {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/clear-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.thunderstorm {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/thunderstorm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.shower-rain {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/shower-rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}

.App.mist {
    background-image: linear-gradient(to bottom,
            rgba(0, 229, 255, 0.52),
            rgba(0, 0, 0, 0.73)),
        url("../ima_weather/mist.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s ease;
}
.search-container {
    width: 100%;
    margin: 0 0 75px;
    /* top, left-right, bottom */
}

.search-bar {
    color: black;
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}

.search-container .search-bar:focus {
    background-color: white;
}

.location-container {
    color: white;
    font-size: 26px;
        text-align: left;
        text-indent: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.location-container .date {
    color: white;
    font-size: 20px;
    text-align: left;
        text-indent: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}


.weather-container .temperature {
    color: white;
    position: relative;
    display: inline-block;
    margin: auto;
    padding: 15px 25px;
    font-size: 80px;
        font-weight: 500;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.weather-container .weather {
    color: white;
    font-size: 24px;
        font-weight: 500;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}