@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');

.bg-image {
    background-image: url("../Login/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container2 {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}

.text-block {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-size: 56px;
}
p {
    font-family: 'Mali', cursive !important
}