b {
    color: #ffff;
}

div.body-color {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.img-position {
    object-fit: cover;
    object-position: right;
}

.letter {
    letter-spacing: 1px;
    text-align: center;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.set-position {
    color: green;
    margin-top: 20px;
    margin-bottom: 100px;
}