@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* div #text-word {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
        border-inline-color: #ffff;
    color: #f1f1f1;
    top: 50px;
        right: 50px;
        font-size: 36px;
}
*/

.waviy {
    position: relative;
}
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--i))
    }
  @keyframes flip {

    0%,
    80% {
            transform: rotateY(360deg)
    }
  }