@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
    position: absolute;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        border-inline-color: #ffffff;
        color: #ffffff;
        top: 50px;
        right: 50px;
        font-size: 36px;
    }
    
    .waviy2 {
        position: absolute;
            /* background: rgb(0, 0, 0);
                                                                                    background: rgba(0, 0, 0, 0.5); */
                border-inline-color: #ffffff;
            color: #f3a908;
            top: 50px;
                right: 100px;
        font-size: 36px;
}
  .waviy span {
    position: relative !important;
        display: inline-block !important;
        font-size: 40px !important;
        /* color: black !important; */
        text-transform: uppercase !important;
        animation: flip 2s infinite !important;
        animation-delay: calc(.2s * var(--i)) !important
    }

        .waviy2 span {
            position: relative !important;
            display: inline-block !important;
            /* font-size: 40px !important; */
                font-size: calc(1.5vw + 1.5vh) !important;
            /* color: black !important; */
            text-transform: uppercase !important;
            animation: flip 2s infinite !important;
            animation-delay: calc(.2s * var(--i)) !important
        }
    
  @keyframes flip {
        0% {
                transform: translateY(0)
        }

                40% {
                    transform: translateY(0)
                }
        
                100% {
                    transform: translateY(0)
                }
    
                20% {
                    transform: translateY(-20px)
                }
  }

.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16;
}

.thumb {
    display: inline-flex;
    border-radius: 2;
    border: 1px solid #eaeaea;
    margin-bottom: 8;
    margin-right: 8;
    width: 500;
    height: 300;
    padding: 4;
    box-sizing: border-box;
}

.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.img {
    display: block;
    width: auto;
    height: 100%;
}