@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* div #text-word {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
        border-inline-color: #ffff;
    color: #f1f1f1;
    top: 50px;
        right: 50px;
        font-size: 36px;
}
*/
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
}

.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}