.set-position {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.right {
    float: right;
}


.Success {
    color: green;
    text-align: center;
    border: 1px solid green;
    padding: 0.01em 14px;
    border-radius: 14px;
    font-weight: bold;
}


.NotSuccess {
    color: red;
    text-align: center;
    border: 1px solid red;
    padding: 0.01em 14px;
    border-radius: 14px;
    font-weight: bold;
}

.NotFound {
    color: gray;
    text-align: center;
    border: 1px solid gray;
    padding: 0.01em 14px;
    border-radius: 14px;
    font-weight: bold;
}


[data-column-id="zone_name"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="plant_name"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="start_plant"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="end_plant"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="username"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="name_chemical"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="name_chemical_eng"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="eu_mrl"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="time"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="unit"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="chemical_cc"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="chemical_liter"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="chemical_note"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="chemical_date_start"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="chemical_date_end"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="status_name"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="plant_circle"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="disease"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="bug"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="weed"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="DIFF_DATE"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}
[data-column-id="remark"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="qty"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}


.input-css {
    margin-top: 20px;
    margin-left: 10px;
    border-color: #ffff;
    margin-bottom: 15px;
}