.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}


.set-button {
    position: absolute;
        left: 90%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
    color: white;
    font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    
    .set-button:hover {
        background-color: black;
}