.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}


.set-button {
    position: absolute;
    cursor: pointer;
    float: right;
    color: white;
        float: right;
    text-align: right;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5)
}