.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}


.set-button {
    position: absolute;
    cursor: pointer;
    float: right;
}