.container img {
    vertical-align: middle;
}

.container {
    position: relative !important;
    width: 100%;
        max-width: 400px;
}


.set-button {
    position: absolute !important;
        left: 80%;
            top: 10%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
    color: white;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }
    
    .set-button:hover {
        background-color: black;
}