* {
    box-sizing: border-box;
}
.container img {
    vertical-align: middle;
}

.container {
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}

.text-block-name {
    position: absolute;
    bottom: 10px;
        right: 20px;
        background: rgb(0, 0, 0);
        /* Fallback color */
        background: rgba(0, 0, 0, 0.5);
        /* Black background with 0.5 opacity */
        color: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
}

.text-block-code {
    position: absolute;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
        top: 10px;
        left: 20px;
        font-size: 18px;
}

.text-block-Plant {
    position: absolute;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
        top: 10px;
        left: 100px;
        font-size: 18px;
}

.text-block-stdate {
    position: absolute;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
        top: 40px;
        right: 20px;
        font-size: 18px;
}

.text-block-eddate {
    position: absolute;
    background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
        top: 70px;
        right: 20px;
        font-size: 18px;
}
.ima-size {
    max-width: 100%;
    height: auto;
}