.input-css {
    margin-top: 20px;
    margin-right: 10px;
    border-color: #ffff;
    margin-bottom: 15px;
}
.set-position {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.right {
    float: right;
}

.Success {
    color: green;
}


.NotSuccess {
    color: red;
}

.NotFound {
    color: gray;
}
[data-column-id="zone_id"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="name_plant"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="start_date_plant"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="end_date_plant"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="name"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="name_chemical"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="days"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="quantity"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="note"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="date_start"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="date_end"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}

[data-column-id="status_check"].rdt_TableCol {
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
}


