.login-style {
    background-image: url("./login.jpg");
    background-color: #cccccc;
}

b {
    color: #ffff;
}

div.body-color {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}